    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Cairo', sans-serif;
    }

    body{
        height: 100vh;
        width: 100%;
    }

    .NavBar{
        background: #243B6B;
        padding: 15px 9%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
    }

    .logo img{
        width: 45px;
        height: auto;
    }

    .Menu{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    .ElementOfNavBar{
        display: inline-block;
    }

    .ElementOfNavBar a{
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin-right: 25px;
    }

    .ElementOfNavBar a:hover,
    .ElementOfNavBar a.active{
        color: #FF6A00;
    }

    .button-sign{
        font-size: 16px;
        font-weight: 400;
        margin-left: 10px;
        padding: 8px 16px;
        white-space: nowrap;
        background-color: #FF6A00;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    .button-sign:hover{
        background-color: #e65c00;
        transform: scale(1.08);
    }

    .hero{
        min-height: calc(100vh - 70px); /* باقي الصفحة بعد الناف */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)), url("images/header.jpg");
        background-size: cover;       /* تملى الشاشة */
        background-position: center;  /* في النص */
        background-repeat: no-repeat;

    }

    .hero .TeamList{
        margin-bottom: 20px;
        font-size: 35px;
        color: #FF6A00;
    }

    .Names {
        color: white;
        font-size: 32px;
        font-weight: 500;
        margin: 12px 0;
        font-family: 'Reem kufi Fun', cursive;
        transition: 0.3s;
    }

    .Names:hover{
        color: #FF6A00;
        transform: scale(1.08);
    }

@media (max-width: 768px){

    .NavBar{
        padding: 12px 5%;
        flex-direction: column;
        gap: 12px;
    }

    .Menu{
        flex-direction: column;
        gap: 10px;
    }

    .ElementOfNavBar a{
        font-size: 16px;
        margin-right: 0;
    }

    .logo img{
        width: 35px;
    }

    .button-sign{
        font-size: 14px;
        padding: 6px 12px;
    }

    .TeamList{
        font-size: 26px;
    }

    .Names{
        font-size: 20px;
    }

}
